.back-img1{
    background-image: url(../../../../public/img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
}
.back-img2{
    background-image: url(../../../../public/img/slider2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
}
.back-img3{
    background-image: url(../../../../public/img/slider3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
}
.bt1{
    width: 200px;
    height: 50px;
}
.bt2{
    width: 150px;
    height: 50px;
}
@media (max-width: 430px){
    .back-img1{
        background-image: url(../../../../public/img/slider.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        width: 400px;
        .h1{
            width: 50%;
            height: 50%;
        }
    }
}