*{
    padding: 0;
    margin: 0;
}
.sec1{
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sec1-div1{
        display: flex;
        flex-direction: column;
        height: 35vh;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50vh;
            left: 25vw;
            width: 15vw;
            border-bottom: dotted dodgerblue 2px;
        }
        h2{
            width: 600px;
            text-align: center;
        }
        p{
            width: 400px;
            text-align: center;
        }
    }
    .sec1-div2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 7vh;
            left: 60vw;
            width: 15vw;
            border-bottom: dotted dodgerblue 2px;
        }
        .sec1-div2-div1{
            display: flex;
            flex-direction: column;
            width: 35vw;
            height: 35vh;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            p{
                text-align: center;
                width: 300px;
            }
            i{
                font-size: xx-large;
                color: rgb(0, 140, 255);
                border: 0.5px rgba(128, 128, 128, 0.486) solid;
                padding: 19px;
                border-radius: 50%;
            }
        }
    }
}
.sec2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../../../public/img/fun-bg.jpg);
    height: 40vh;
    position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: dodgerblue;
            z-index: 2;
            opacity: 70%;
            width: 98.8vw;
            height: 100%;
        }
    .sec2-div1{
        display: flex;
        width: 20vw;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        z-index: 3;
        i{
            font-size: x-large;
                color: white;
                border: 0.5px white solid;
                padding: 19px;
                border-radius: 50%;
        }
    }
}
.sec3{
    .sec3-div1{
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: space-around;
        align-items: center;
        h2{
            width: 450px;
            text-align: center;
        }
        p{
            width: 450px;
            text-align: center; 
        }
    }
    .icon1{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        gap: 20px;
        div{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            i{
                font-size: 20px;
                color: dodgerblue;
            }
        }
    }
}
.sec4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    height: 50vh;
    background-color:  rgba(30, 143, 255, 0.785);
    h2{
        color: white;
        width: 40%;
        text-align: center;
    }
    p{
        color: white;
        width: 40%;
        text-align: center;
    }
    .btt1{
        height: 10vh;
        width: 15vw;
    }
    .btt2{
        height: 10vh;
        width: 12vw;
        background-color:  rgba(30, 143, 255, 0.329);
        border: 2px white solid;
    }
}